# CORS Configuration
ALLOWED_ORIGINS=http://localhost:3000,http://notebookum.universidad.localhost

# Database Configuration
# CHANGE THESE VALUES in your real .env file!
DB_NAME=notebookum_db
DB_USER=notebookum_user
DB_PASSWORD=YOUR_SECURE_PASSWORD_HERE
